/* TODO: Add a font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#defaultCanvas0 {
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15%;
  padding-top: 15%;
  padding-bottom: 5vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: auto;
  max-height: 40vh;
  scrollbar-width: none;
  background-color: aqua;
  width: 100%;
}

article {
  padding: 20px;
  border-radius: 10px;
  background-color: green;
}